<h4>Formularios por Template</h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               required
               minlength="5"
               [class.is-invalid]="nombre.invalid && nombre.touched"
               [ngModel]="usuario.nombre"
               #nombre="ngModel">
        <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Ingrese 5 letras</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               required
               minlength="5"
               [class.is-invalid]="apellido.invalid && apellido.touched"
               [ngModel]= "usuario.apellido"
               #apellido = "ngModel">
        <small class="form-text text-danger" *ngIf="apellido.invalid && apellido.touched">Ingrese 5 letras</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="correo"
             placeholder="Correo electrónico"
             required
             [class.is-invalid]="correo.invalid && correo.touched"
             [ngModel]="usuario.correo"
             #correo = "ngModel"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
             <small class="form-text text-danger" *ngIf="correo.invalid && correo.touched">El correo es obligatorio</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <select class="form-control"
        name="pais"
        required
        [disabled] = "paises.length === 0"
        [class.is-invalid] = "pais.invalid && pais.touched"
        [ngModel] = usuario.pais
        ngModel
        #pais = "ngModel">
        <option *ngFor="let pais of paises" [value]="pais.codigo">
          {{ pais.nombre }}
        </option>
      </select>
    </div>
    <small class="form-text text-danger" *ngIf="pais.invalid && pais.touched">El pais es obligatorio</small>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input"
        name="genero"
        value="M"
        [class.is-invalid] = "genero.invalid && genero.touched"
        ngModel
        required
        #genero="ngModel">
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input type="radio" class="form-check-input"
        name="genero"
        value="F"
        [class.is-invalid] = "genero.invalid && genero.touched"
        ngModel
        required
        #genero="ngModel">
        <label class="form-check-label">Femenino</label>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

