<h4>Formularios Reactivos</h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="save()">
  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid]="isNameInvalid">
          <small *ngIf="isNameInvalid" class="text-danger"> 
            Ingrese un nombre válido
          </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid]="isApellidoInvalid">
          <small *ngIf="isApellidoInvalid" class="text-danger"> 
            Ingrese un apellido válido
          </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="email"
             [class.is-invalid]="isEmailInvalid">
          <small *ngIf="isEmailInvalid" class="text-danger"> 
             Ingrese un email válido
          </small>
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row col">
      <div class="col">
        <input type="text" class="form-control" placeholder="calle" formControlName="calle"
        [class.is-invalid]="isCalleInvalid">
        <small *ngIf="isCalleInvalid" class="text-danger">
          Introduzca la calle
        </small>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="ciudad" formControlName="ciudad"
        [class.is-invalid]="isCiudadInvalid">
        <small *ngIf="isCiudadInvalid" class="text-danger">
          Introduzca la ciudad
        </small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>

<hr>
<pre>
  Estado del Formulario : {{ forma.valid }}
  <br>
  Status : {{ forma.status }}
</pre>
<pre>
  {{ forma.value | json }}
</pre>
